<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/public/style/style.css">
    <title>Document</title>
  </head>
  <body>
    <section class="form-section">
      <header class="titleweb">
        <h1>WebForm</h1>
      </header>
      <div class="form-wrapper">
        <form name="form" action="site.html">
          <div class="input-block">
            <label for="login-email">Email</label>
            <input type="email" id="login-email"/>
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            <input type="password" id="login-password"/>
          </div>
          <div class="parar">
            <a href="/register">Create accont</a>
          </div> <br/>
          <input type="submit" class="btn-login" value="Login" onclick="return validate()">
        </form>
      </div>
    </section>
    <ul class="squares"></ul>
    <script src="/public/script/script.js"></script>
  </body>
</html>
