<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/public/style/styleRegister.css">
    <title>Document</title>
  </head>
  <body>
    <section class="form-section">
      <header class="titleweb">
        <h1>WebForm</h1>
      </header>
      <div class="form-wrapper">
        <form name="form" action="index.html">
          <div class="input-block">
            <label for="register-name">Name</label>
            <input type="text" id="register-name">
          </div>
          <div class="input-block">
            <label for="register-email">Email</label>
            <input type="email" id="register-email">
          </div>
          <div class="input-block">
            <label for="register-password">Password</label>
            <input type="password" id="register-password">
          </div>
          <div class="input-block">
            <label for="register-confirm-password">Confirm Password</label>
            <input type="password" id="register-confirm-password">
          </div>
          <input type="submit" onclick="return validate()"  class="btn-register" value="Register"/>
        </form>
      </div>
    </section>
    <ul class="squares"></ul>
    <script src="/public/script/scriptRegister.js"></script>
  </body>
</html>
